*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#080b12;
color:#fff;
}

.header{
position:fixed;
top:0;
left:0;
width:100%;
padding:15px 30px;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.6);
backdrop-filter:blur(15px);
z-index:999;
}

.logo{
font-size:30px;
font-weight:800;
color:#00c2ff;
}

.nav{
display:flex;
gap:25px;
}

.nav a{
color:white;
text-decoration:none;
}

.actions input{
padding:10px;
border:none;
border-radius:10px;
}
